doctype html
html
    head
        include includes/metadata.pug
        link(rel="stylesheet", href="css/main.css")
        style 
    body 
        include includes/navbar.pug 

        // start header
        header
            div.mainContainer
                div.title 
                    h1 the future has landed 
                    p lorem ipsum idsjqm jj qjdj jj
                div.image 
                    img(src="images/pic01.jpg", alt="simpleImage")
            .con
                button#arrow ^^ 
        // end header
        
        // start section2

        section.show
            div.imgWrap
                img(src="images/pic01.jpg")
            article.showCon
                div: h2 lorem ipsumj k
                div leproj lsmdlqm oisdpoqisp doiqpsdoif paozei dsoi odi odio dio sdio idsoij oi
                div leproj lsmdlqm oisdpoqisp doiqpsdoif paozei dsoi odi odio dio sdio idsoij oi


        // end section2






















    include includes/scripts.pug