nav
        div.brand
            a(href="#") LARBI 
        div.links
            ul
                each val in ["Home", "Layouts", "Elements"]
                    li: a(href="#")=val
                li: button sign up